.onderdelenthumb {
    width: 180px;
    height: 120px;
}

.gebouwthumb {
    width: 180px;
    height: 100px;
}

.onderdeelimg {
    width: 240px;
    height: 180px;
}

.mediaimg {
    width: 120px;
    height: 96px;
}